* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Montserrat";
}

.wrap {
  width: 1240px;
  margin: 0 auto;

  min-height: 100%;
  display: flex;
  flex-direction: column;

  border: 1px solid #ffffff01;
}

.page_header, 
.page_footer {
  flex-grow: 0;
  flex-shrink: 0;

  box-shadow: 0 0 10px #777;
}

h1 {
  color: #5d5d5d;
  padding: 20px;
  text-shadow: 0 0 3px #777;
}

h3 {
  color: #5d5d5d;
  /* text-align: center; */
  margin: auto auto;
  margin-bottom: 0;
}

.main {
  padding: 20px;
  margin: 20px 0;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px #777;
}


.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-position: inside;
  padding: 20px 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 10px;
  border: 3px solid #59f;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
}

a {
  text-decoration: none;
  text-shadow:  1px 1px 2px #555;
}

.activ {
  background-color: #b7cc5a;
}