* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Montserrat";
}

.wrap {
  width: 1240px;
  margin: 0 auto;

  min-height: 100%;
  display: flex;
  flex-direction: column;

  border: 1px solid #ffffff01;
}

.container {
  width: 610px;
  margin: auto auto;

  box-shadow: 0 0 5px #777;
}

.header_card {
  display: flex;
  justify-content: space-between;
  margin: 44px 0 0;
}

.block {
  display: flex;

}

.frame {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.type {
  font-weight: 500;
  font-size: 12px;
  color: #797979;
}

.description {
  font-weight: 500;
  font-size: 14px;
  color: #2B2B2B;
}

.colors {
  display: flex;
  margin: 33px 0;
}

.descript {
  font-weight: 500;
  font-size: 14px;
  color: #2B2B2B;
}

.icon_color {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.main_wrap {
  border: 1px inset #3d84ee00;
  border-radius: 10px;
  padding: 8px;
}

.main_descript {
  font-weight: 500;
  font-size: 14px;
  color: #2B2B2B;
}

.main_price {
  font-weight: 700;
  font-size: 20px;
  color: #2B2B2B;
}

.btn1, .btn2 {
  display: inline-block;
  height: 41px;
  padding: 10px 24px;
  margin: auto 0;
  border: 1px inset #3D84EE;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 1.1; */
} 

.btn1 {
  color: #fff;
  background: #3D84EE;
}

.btn2 {
  color: #2B2B2B;
  background: #fff;
}

.summ {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}


/* Навигация */
.page_footer {
  box-shadow: 0 0 10px #777;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-position: inside;
  padding: 20px 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 10px;
  border: 3px solid #59f;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
}

a {
  text-decoration: none;
  text-shadow:  1px 1px 2px #555;
}

.activ {
  background-color: #b7cc5a;
}