* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1240px;
  margin: 0 auto;
}

.section {
  height: 100vh;
  margin: auto 0;
}

h1 {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  margin: 24px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  width: 295px;
  margin-bottom: 20px;
}