* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.wrap {
  max-width: 1240px;
  min-width: 320px;
  margin: 0 auto;
}

.section {
  margin: auto 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: #1F171C;
  margin: 38px 0 24px 0;
  text-shadow: 0 0 3px #777;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.img_card {
  width: 23.79%;
  position: relative;

  border-radius: 10px;
  box-shadow: 0 0 5px #999;
}

.image {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: 2; */

  box-shadow: 0 0 5px #999;
}

.img_card::after {
  content: "";
  background-color: rgba(239, 47, 162, 0.44);
  width: 100%;
  height: 62px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}

.img_card,
.img_card::after,
.image {
    border-radius: 10px;
  }

.wrap_text {
  color: #fff;
  position: absolute;
  top: 233px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.img_text {
  font-style: 20px;
  margin: 12px auto 5px 16px;
}

.footer_text {
  font-size: 14px;
  display: inline-block;
  margin: 0 auto 10px 16px;
}

/* --- Навигация --- */
.nav {
  margin: 30px 0 20px;
  box-shadow: 0 0 5px #777;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* list-style-position: inside; */
  padding: 20px 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 10px;
  border: 3px solid #59f;
  border-radius: 10px;
  box-shadow: 0 0 3px #999;
}

a {
  text-decoration: none;
  text-shadow:  1px 1px 3px #777;
}