* {
  box-sizing:border-box;
}

body {
  margin: 0;
  background-color: #fcfcfc;
  font-family: "Montserrat";
}

.wrap {
  width: 1240px;
  margin: 0 auto;
}

h1 {
  color: #1E1E1E;
  padding: 40px 0;
  margin: 0;
  text-shadow: 0 0 3px #777;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 20px;
}

.card {
  width: 295px;
  height: 318px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 3px 3px 9px 4px rgba(147, 147, 147, 0.25);
}

.auto {
  width: 277px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 9px;
  right: 9px;
  bottom: 143px;

  z-index: -1;
}

.header_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  margin: 12px;
}

.title_card, .star,
.rating, .review,
.year {
  display: inline-block;
}

.title_card {
  /* width: 50px; */
  padding: 4px;
  box-shadow: 0 1px 12px -2px rgba(86, 86, 86, 0.3);
}

.star {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}

.rating {
  font-style: 14px;
  font-weight: 400;
  /* margin: 4px; */
}

.review {
  font-size: 10px;
  font-weight: 500;
  margin: auto auto;
  margin-left: 8px;
}

.year {
  width: 41px;
  background: #08006A;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
}

.footer_card {
  padding-left: 12px;
}

.footer_card_title {
  font-size: 20px;
  font-weight: 500;
  color: #202020;
  margin: 12px 0 4px;
}

.footer_card_message {
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  margin: 4px 0 35px;
}

.footer_card_rent {
  font-size: 14px;
  font-weight: 400;
}

.price {
  font-size: 24px;
  font-weight: 500;
  color: #08006A;
  padding: 0 4px 0 0;
}

/* --- Навигация --- */
.nav {
  margin-top: 30px;
  box-shadow: 0 0 5px #777;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-position: inside;
  padding: 20px 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 10px;
  border: 3px solid #59f;
  border-radius: 10px;
}

a {
  text-decoration: none;
  text-shadow:  1px 1px 3px #777;
}