* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

.wrap {
  width: 1240px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h1 {
  font-weight: 700;
  height: 24px;
  margin: 30px 0 40px;
}

.card {
  width: 310px;
  height: 310px;

  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin-top: 40px;
}

.card p {
  font-weight: 500;
  padding: 0;
  margin: 4px 0 40px;
}

.block1 {
  background-image: url(./img/frame_140.png);
}

.block2 {
  background-image: url(./img/frame_141.png);
}

.block3 {
  background-image: url(./img/frame_142.png);
}

.block4 {
  background-image: url(./img/frame_143.png);
}

.block5 {
  background-image: url(./img/frame_144.png);
}

.block6 {
  background-image: url(./img/frame_145.png);
}

.block7 {
  background-image: url(./img/frame_146.png);
}

.block8 {
  background-image: url(./img/frame_147.png);
}


/* --- Навигация --- */
.nav {
  padding-top: 50px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-position:inside
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 10px;
  border: 3px solid #59f;
  border-radius: 10px;
}

a {
  text-decoration: none;
}